server:
  port: 8080


spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
          - id: auth-service
            uri: lb://auth-service
            predicates:
              - Path=/auth/**

          - id: user-service
            uri: lb://user-service
            predicates: 
             - Path=/users/**

          - id: job-service
            uri: lb://job-service
            predicates: 
             - Path=/jobs/**

          - id: application-service
            uri: lb://applicaion-service
            predicates:
              -Path=/applicatioins/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka